.buttonDelete {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    margin-right: 3%;
    float: right;
}

.buttonDelete:hover {
    background-color: #72ba79;
}

.buttonDelete:disabled {
    background-color: #c0c2c0;
}

.buttonDelete:active {
    background-color: #3c9645;
}

.buttonIcon {
    background-color: white;
    border: none;
}

.buttonIcon:active {
    color: green;
}

.tableSting:nth-child(2n) {
    background-color: #fafafa;
}

.tbl {
    margin: 3%;
}

h1 {
    margin: 3% !important;
}

th {
    background-color: #e6e8e6 !important;
}


.container {
    display: block;
    position: relative;
    margin-bottom: 55%;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border: 2px solid green;
    border-radius: 4px;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid green;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}